<!DOCTYPE html>

<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="/static/home/home.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy|Lora|Josefin+Slab|Merriweather|Pacifico|Hammersmith+One|Cinzel|Lobster+Two|Playball|Playfair+Display+SC' rel='stylesheet' type='text/css'>
<script>
	$(document).ready(function(){
		
		$('.signup').click(function(){
			$('.board1').fadeToggle("medium");
			$('.signup-form').fadeToggle("medium");
		});

	
	{%if error%}
	$('.signup-form').toggle();
	{%endif%}
	});

</script>
</head>
<body>
	<div class='background'></div>

<!--  	<div class="logo"><p class="logo-text">Calhoun’s student run buttery. Open from 10 pm to 1 am, Sunday through Thursday</p> </div>
 --> 	{%if not error%}
 	<div class="board1">
		<p class="intro"> <br><br>Whats up Houn Fam. Welcome to the Calhoun Buttery's new website!<br><br>
		Our website is the best thing since sliced tortillas. 
		 You can order buff chick wraps from your bedroom. When your food is ready. you will get notified from your browser in real time. It also makes our life easier keeping track of orders on those busy nights. We hope you enjoy :)<br><br>Houn Love,<br>Kevin and the Buttery 
		</p>

		<input class="signup" type="submit" value="Sign Up">
		</form>
	</div>
	{%endif%}

		<form class="login-form" action="login" method="post">
			<input placeholder="email" name="email">
			<input type="password" placeholder="password" name="password">
			<input type="submit" value="Log In">
		</form>

		<form class="signup-form" action ="signup" method="post">
			<input type = "text" id = "input_name" placeholder="Full Name" name="name"><br>
			<input type = "text" id = "input_email" placeholder="Email" name="email"><br>
			<input type = "password" id = "input_password" placeholder="Password" name="password"><br>
		<input type="submit" value="Sign Up">
		</form>

	{%if error %}
	<p class="debug">{{error}}</p>
	{%endif%}

</body>
</html>