body{
	text-align: center;
	font-size: 18px;
	font-family: 'Sorts Mill Goudy', serif;
	padding: 0em;
	margin: 0em;
	color:white;
}

.logo{
	height: 20em;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	background:url("/static/home/trolleystop2.png") no-repeat;
}
.logo-text{
	position: absolute;
	margin: 0 auto;
	left:0;
	right: 0;
/*	font-size: 14px;*/
	margin-top:-1em;
	margin-left: 5em;
}
.intro{
	width: 35em;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 10em;
	text-align: left;
	font-weight: bold;

}
.background{
	background: linear-gradient(to bottom, rgba(0,0,0,.0) 0%,rgba(0,0,0,.35) 30%, rgba(0,0,0,.3) 100%), url('buttery2.jpg') no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: cover;
	z-index: -1;
}
.signup{
	width:9em;
	height: 3em;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	margin-top: 30em;
	cursor: pointer;
	color:white;
	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
	background:rgba(255,255,255,0);
	transition: background 1s;
	-webkit-transition: background 1s;
	-o-transition: background 1s;
}

.signup:hover{
	background:rgba(255,255,255,.2);
}
input{
	font-family: 'Sorts Mill Goudy', serif; 
	padding-top: 0;
	padding-bottom: 0;
	padding-left: .2em;
	padding-right: .2em;
	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
	border-color: white;
	font-size: .9em;
	color:white;
}

/*######## login ########*/

.login-form{
	position:absolute;
	right: 2em;
	top:.5em;
	font-size: 14px;
}

.login-form > p{
	display:inline;
}
.login-form input{
	background:rgba(0,0,0,0);
	transition: background 1s;
	-webkit-transition: background 1s;
	-o-transition: background .5s 1s;
}
.login-form input[type=submit]{
	height: 2em;
	cursor: pointer;
}
.login-form input[type=submit]:hover{
	background:rgba(0,0,0,0.2);
}

/*######## signup ########*/
.signup-form{
	position: absolute;
	text-align: center;
	margin: 0 auto;
	left: 0;
	right: 0;
	margin-top: 12.1em;
	display: none;
}


.signup-form input{
	margin: 1em;
}

.signup-form input{
	height:3em;
	outline: none;
	border:2px solid;
	border-color: white;
	background:rgba(0,0,0,0);
	transition: border-color .5s;
	-webkit-transition: border-color .5s;
}
#input_name:hover, #input_name:focus {
	outline: none;
	border-color: rgb(84,236,73);
}
#input_email:hover, #input_email:focus{
	outline: none;
	border-color: yellow;
}
#input_password:hover, #input_password:focus{
	outline: none;
	border-color: red;
}

::-webkit-input-placeholder {
   color: white;
}

.signup-form input[type=submit] {
	height:3em;
	width: 9em;
	color:white;
	cursor:pointer;
	background:rgba(0,0,0,0);
	transition: background 1s;
	-webkit-transition: background 1s;
	-o-transition: background 1s;
}
.signup-form input[type=submit]:hover {
	background:rgba(255,255,255,.2);
}


 .debug{
 	bottom:5em;
 	left:10em;
 	position: absolute;
 }