body{
	font-family: 'Sorts Mill Goudy', serif; 
	background: linear-gradient(to bottom, rgba(0, 0, 0, .5),  rgba(0, 0, 0, .5)), url('buttery4.jpg');
	background-size: cover;
	font-size: 20px;
	margin: 0;
	text-align: center;
}

.logout{
	position:fixed; 
	top:85%;
	left: 90%;
	color: gray;
	transition: color 1s;
	-webkit-transition: color 1s;
}
.logout:hover{
	color:white;
}
input:focus { 
    background-color: rgba(255,255,255.5);
}